@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import './assets/mixin.scss';
@import "./assets/colors.scss";

*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    font-family: var(--public);
}
h1,h2,h3,h4,h5,h6{
    margin-block: 0.3em;
}
body{
    min-height: 100svh;
    @include lg{
        display: flex;
        justify-content: flex-start;
    }
}
textarea{
    font-family:var(--public);
}
.text__lg{
    font-size: 2em;
    line-height: 120%;
    letter-spacing: 0;
}

.text__md{
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0;
}

.text__sm{
   font-size: 14px;
   line-height: 150%;
   letter-spacing: 0;  
}
.text__xs{
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0;
}
.text__bold{
    font-weight: bold;
}
.text__normal{
    font-weight: normal;
}
.text__thin{
    font-weight: lighter;
}
.rounded{
    border-radius: var(--rounded);
}
.padding{
    padding: var(--padding);
}
.gap-block__end--12{
    margin-block-end: var(--gap__12);
}
.gap-block__end--14{
    margin-block-end: var(--gap__14);
}
.gap-block__end--16{
    margin-block-end: var(--gap__16);
}
.gap-block__end--20{
    margin-block-end: var(--gap__20);
}
main{
    width: 100%;
}
.container{
    max-width: 343px;
    margin-inline: auto;
    padding-block-end: 3rem;
    @include md{
        max-width: 688px;
    }
    @include lg{
        max-width: 100%;
        // width: 100%;
        margin-inline: var(--gap__40);
    }
}
.main-content__container{
    max-width: 1060px;
}
.main-content{
   .main-content__content{
    container-name: maincontent; 
    container-type: inline-size;
    @include lg{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 1fr auto;
        gap:var(--gap__24);
        max-width: 1060px;
        // max-width: 1980px;
        width: 100%;
            section{
                margin: 0;
                align-self: stretch;
                > div{
                    height: 100%;
                }
            }
            .main-content__balance {
                grid-column: 1 / span 12;
                grid-row: 1;
                margin-block-end: var(--gap__12);
            }
            .main-content__pots{
                grid-column: 1 / span 6;
                 grid-row: 2 / span 3;
            }
            .main-content__transactions{
                grid-column: 1 / span 6;
                grid-row: 5 / span 2;
            }
            .main-content__chart{
                grid-column: 7 / span 6;
                grid-row: 2 / span 4;
              
                }
            }
            .main-content__bills{
                grid-column: 7 / span 6;
                grid-row: 6;
            }
    
        }
   
    }


.grid-cols{
    display:grid;
    @include md{
        display:grid; 
    }
}
.grid-cols--2{
    grid-template-columns: 1fr;
    gap: var(--gap__24);
    @include md{
        grid-template-columns: 1fr 1fr;
        
    }
}
.chart-section .grid-cols--2{
    @include md{
        grid-template-columns: 1fr 0.5fr;
    }
}
.pots-section .grid-cols--2{
    @include md{
        grid-template-columns: 1fr 1fr;
        
    }
    .total-saved{
        @include lg{
            max-width: 247px;
        }
     }
    
}
.full-height{
    height: 100%;
    align-self:stretch;
    justify-self: stretch;
    padding: 0;
    margin: 0;
}
.grid-cols--3{
    grid-template-columns: 1fr;
    gap: var(--gap__24);
    @include md{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

ul[class]{
    list-style:none;
    margin: 0;
    padding: 0;
}
button{
    border: none;
    background:transparent;
    cursor:pointer;
}
.section{ 
    margin-block-end: var(--gap__32);
}
.content-box{
    padding: 20px;
    border-radius: var(--rounded);
    // background-color: var(--light-400);
    a{
        padding: 0;
        margin: 0;
    }
}

.content-box--dark{
    background-color: var(--dark-100);
    color: var(--light-400);
}

.content-box__title{
    margin-block-end: var(--gap__12);
}
.content-box__header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    .text{
        margin-inline-end: var(--gap__12);
    }
}
.content-box--2cols{
    display:flex;
    gap: var(--gap__16);
    padding: var(--gap__16);
    .content-box__title{
        margin-block-end: var(--gap__16);
        color: var(--dark-200)
    }
}
.content-box--grid{
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap:var(--gap__16);
}
.chart-section .content-box--grid{
    @include md{
        grid-template-columns: 1fr;
    }
}
.content-box--line-left{
    position:relative;
    padding: 0;
    padding-inline-start: var(--gap__16);
    h5{
        font-weight: 400;
    }
    &::before{
        content:"";
        position:absolute;
        width: 6px;
        inset-block: 0;
        inset-inline-start: 0;
        background-color: currentColor;
        border-radius: 10px;
    }
}
.content-box--line-left--rounded{
    overflow: hidden;
    border-radius: var(--rounded);
    padding: var(--padding);
    border-inline-start:4px solid currentColor;
    &:not(&:last-of-type){
        margin-block-end: var(--gap__12);
    }
}
.content-box__avatar{
    padding-inline: 0;
    position:relative;
    display: grid;
    grid-template-columns:auto 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: var(--gap__16);
    // margin-block-end: var(--gap__20);
    &.out-amount{
        .content-box__amount{
            color: var(--dark-100);
        }
    }
    &.in-amount{
        .content-box__amount{
            color: var(--second-green);
        }
    }
    > img{
        grid-column: 1;
        grid-row: 1 / span 2;
        display:block;
        align-self: center;
    }
    .avatar__name{
        grid-column: 2 / span 2;
        grid-row: 1 / span 2;
        align-self:center;
    }
    .content-box__amount{
        grid-column: 4;
        grid-row: 1;
        
    }
    .content-box__date{
        grid-column:4;
        grid-row:2;
        white-space: nowrap;
        text-align: right;
        color: var(--dark-200)
    }
    &.content-box__limit{
        &:not(:last-of-type){
            &::after{
                content:"";
                position:absolute;
                bottom:0;
                inset-inline: 0;
                height: 1px;
                background-color: var(--dark-100);
                opacity: 0.2;
            }
        }
        
    }
    &:has(.content-box__category){
        .avatar__name{
            grid-row: 1;
        }
        .content-box__category{
            grid-column:2;
            grid-row:2;
        }
    }
}
.content-box__chart {
    position: relative;
    max-width: fit-content;
    
    @include md{
        margin-inline: auto;
    }
}


.content-box__innercircle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 50%;
    mix-blend-mode: soft-light;
    width: 205px;
    aspect-ratio: 1;
}

.content-box__innercircle-daten {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    aspect-ratio: 1;
    // width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    // background-color: var(--light-200);
    border-radius: 50%;
}
    
.page-title{
    @include lg{
        padding-block: var(--gap__16);
        margin-block-end: var(--gap__32);
    }
}
.main-header{
    padding-block-start: 0.5em;
    padding-inline: 1em;
    .main-header__logo, .main-header__hamburger{
        display: none;
    }
    nav{
        ul{
            display:flex;
            align-items:center;
            justify-content: center;
            li{
                &.current{
                    a{
                        background-color: var(--light-400);
                        border-block-end-color: var(--second-green);
                        svg{
                            path{
                                fill:var(--second-green);
                            }
                        }
                    }
                }
            }
            a{
                display: block;
                height: 44px;
                max-width: 66px;
                display:flex;
                align-items: center;
                justify-content:center;
                border-radius:var(--rounded) var(--rounded) 0 0;
                border-block-end: 4px solid transparent;
                .text{
                    display: none;
                }
            }
        }
    }
    @include md{
        nav{
            ul{
               gap: var(--gap__32);
               li{
                &.current{
                    a{
                        .text{
                            color: var(--dark-100);    
                        }
                    }
                }
                a{
                    min-width:104px;
                    flex-flow: column;
                    padding: var(--gap__12) var(--gap__32);
                    height: fit-content;
                    .text{
                        display: block;
                        font-weight: bolder;
                        white-space: nowrap;
                        color:var(--light-400);
                    }
                }
               } 
            }
        }
    }
    @include lg{
        .main-header__logo{
            display: block;
            padding-block:9.6px;
            padding-inline-start: var(--gap__32);
        }
        nav{
            ul{
                flex-flow: column;
                align-items: flex-start;
                padding: 0;
                li{
                        width: 100%;
                    a{
                        border-block-end: unset;
                        border-inline-start: 4px solid transparent;
                        width: 100%;
                        display: block;
                        display: flex;
                        flex-flow: row nowrap;
                        min-width: unset;
                        max-width: calc(100% - var(--gap__24));
                        justify-content: flex-start;
                        padding-inline-start:var(--gap__32);
                        gap:var(--gap__16);
                    }
                    &.current{
                        a{
                            border-radius: 0 var(--rounded) var(--rounded) 0;
                            border-inline-start-color: var(--second-green)
                        }
                    }
                    
                }
            }
        }
    }
}
a,.btn{
    text-decoration: none;
    color: currentColor;
    padding:var(--gap__24);
}
.main-content__chart{
    container-name: gridchart;
    container-type: inline-size;
}
.main-content__pots{
    container-name: gridPots;
    container-type: inline-size;
}

@container gridchart ( width < 500px ){
    .chart-section .grid-cols--2{
            grid-template-columns:1fr;
            .content-box--grid {
                grid-template-columns:1fr 1fr;
            }
 }
}
@container gridPots ( width < 441px ){
    .chart-section .grid-cols--2{
            grid-template-columns:1fr;
            .content-box--grid {
                grid-template-columns:1fr 1fr;
            }
 }
}



//Filter
.main-content__header.filter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--gap__16);
    width: 100%;
}
.filter__dropdown {
    position:relative;
    z-index: 0;
    &.open{
        z-index: 10;
    }
    button {
        font-size: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        .text{
            color: var(--dark-200);
        }
        .selectedValue{
            min-width: 150px;
            padding: var(--gap__16) var(--gap__32);
            border-radius: var(--rounded);
            border: 1px solid var(--dark-300);
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap:var(--gap__16);
        }
        .icon{
            display: block;
        }
        .text{
            display: none;
        }

    }
    ul.items__childs{
        border-radius: var(--rounded);
        background-color: var(--light-400);
        position:absolute;
        right: 0;
        left: 0;
        top: 120%;
        opacity: 0;
        box-shadow: 2px 3px 10px hsla(0, 0%, 0%, 0.063);
        pointer-events: none;
        transition: all 0.3s;
        &.open{
            opacity: 1;
            top: 100%;
            pointer-events: all;
        }
        li{
            transition: all 0.5s;
            padding: var(--gap__12) var(--gap__40);
            cursor: pointer;
            position:relative;
            
            &:hover{
                background-color: var(--light-300);
            }
            &.current{
                font-weight: 900;
            }
            &:not(:last-of-type){
               &::after{
                content:"";
                position:absolute;
                bottom: 0;
                inset-inline: 20px;
                height: 2px;
                background-color: var(--light-300);
               }
            }
        }
    }
}