@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --light-100:rgb(152, 144, 139);
  --light-200:rgb(242, 242, 242);
  --light-300:rgb(248, 244, 240);
  --light-400:rgb(255, 255, 255);
  --dark-100:rgb(32, 31, 36);
  --dark-200:rgb(105, 104, 104);
  --dark-300:rgb(179, 179, 179);
  --second-green:rgb(39, 124, 120);
  --second-yellow:rgb(242, 205, 172);
  --second-cyan:rgb(130, 201, 215);
  --second-navy:rgb(98, 96, 112);
  --second-red:rgb(201, 71, 54);
  --second-purple:rgb(130, 108, 176);
  --third-purple:rgb(175, 129, 186);
  --third-turquoise:rgb(89, 124, 124);
  --third-brown:rgb(147, 103, 79);
  --third-magenta:rgb(147, 79, 111);
  --third-blue:rgb(63, 130, 178);
  --third-navygrey:rgb(151, 160, 172);
  --third-armygreen:rgb(127, 145, 97);
  --third-gold:rgb(202, 179, 97);
  --third-orange:rgb(190, 108, 73);
  --public: "Public Sans", sans-serif;
  --gap__40:40px;
  --gap__32:32px;
  --gap__24:24px;
  --gap__20: 20px;
  --gap__16:1em;
  --gap__12:12px;
  --rounded:12px;
  --padding:1em;
}

.text-light-100 {
  color: var(--light-100);
}

.text-light-200 {
  color: var(--light-200);
}

.text-light-300 {
  color: var(--light-300);
}

.text-light-400 {
  color: var(--light-400);
}

.text-dark-100 {
  color: var(--dark-100);
}

.text-dark-200 {
  color: var(--dark-200);
}

.text-dark-300 {
  color: var(--dark-300);
}

.text-second-green {
  color: var(--second-green);
}

.text-second-yellow {
  color: var(--second-yellow);
}

.text-second-cyan {
  color: var(--second-cyan);
}

.text-second-navy {
  color: var(--second-navy);
}

.text-second-red {
  color: var(--second-red);
}

.text-second-purple {
  color: var(--second-purple);
}

.text-third-purple {
  color: var(--third-purple);
}

.text-third-turquoise {
  color: var(--third-turquoise);
}

.text-third-brown {
  color: var(--third-brown);
}

.text-third-magenta {
  color: var(--third-magenta);
}

.text-third-blue {
  color: var(--third-blue);
}

.text-third-navygrey {
  color: var(--third-navygrey);
}

.text-third-armygreen {
  color: var(--third-armygreen);
}

.text-third-gold {
  color: var(--third-gold);
}

.text-third-orange {
  color: var(--third-orange);
}

.bg-light-100 {
  background-color: var(--light-100);
}

.bg-light-200 {
  background-color: var(--light-200);
}

.bg-light-300 {
  background-color: var(--light-300);
}

.bg-light-400 {
  background-color: var(--light-400);
}

.bg-dark-100 {
  background-color: var(--dark-100);
}

.bg-dark-200 {
  background-color: var(--dark-200);
}

.bg-dark-300 {
  background-color: var(--dark-300);
}

.bg-second-green {
  background-color: var(--second-green);
}

.bg-second-yellow {
  background-color: var(--second-yellow);
}

.bg-second-cyan {
  background-color: var(--second-cyan);
}

.bg-second-navy {
  background-color: var(--second-navy);
}

.bg-second-red {
  background-color: var(--second-red);
}

.bg-second-purple {
  background-color: var(--second-purple);
}

.bg-third-purple {
  background-color: var(--third-purple);
}

.bg-third-turquoise {
  background-color: var(--third-turquoise);
}

.bg-third-brown {
  background-color: var(--third-brown);
}

.bg-third-magenta {
  background-color: var(--third-magenta);
}

.bg-third-blue {
  background-color: var(--third-blue);
}

.bg-third-navygrey {
  background-color: var(--third-navygrey);
}

.bg-third-armygreen {
  background-color: var(--third-armygreen);
}

.bg-third-gold {
  background-color: var(--third-gold);
}

.bg-third-orange {
  background-color: var(--third-orange);
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  font-family: var(--public);
}

h1, h2, h3, h4, h5, h6 {
  margin-block: 0.3em;
}

body {
  min-height: 100svh;
}
@media (min-width: 1070px) {
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

textarea {
  font-family: var(--public);
}

.text__lg {
  font-size: 2em;
  line-height: 120%;
  letter-spacing: 0;
}

.text__md {
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0;
}

.text__sm {
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0;
}

.text__xs {
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0;
}

.text__bold {
  font-weight: bold;
}

.text__normal {
  font-weight: normal;
}

.text__thin {
  font-weight: lighter;
}

.rounded {
  border-radius: var(--rounded);
}

.padding {
  padding: var(--padding);
}

.gap-block__end--12 {
  -webkit-margin-after: var(--gap__12);
          margin-block-end: var(--gap__12);
}

.gap-block__end--14 {
  -webkit-margin-after: var(--gap__14);
          margin-block-end: var(--gap__14);
}

.gap-block__end--16 {
  -webkit-margin-after: var(--gap__16);
          margin-block-end: var(--gap__16);
}

.gap-block__end--20 {
  -webkit-margin-after: var(--gap__20);
          margin-block-end: var(--gap__20);
}

main {
  width: 100%;
}

.container {
  max-width: 343px;
  margin-inline: auto;
  -webkit-padding-after: 3rem;
          padding-block-end: 3rem;
}
@media (min-width: 768px) {
  .container {
    max-width: 688px;
  }
}
@media (min-width: 1070px) {
  .container {
    max-width: 100%;
    margin-inline: var(--gap__40);
  }
}

.main-content__container {
  max-width: 1060px;
}

.main-content .main-content__content {
  container-name: maincontent;
  container-type: inline-size;
}
@media (min-width: 1070px) {
  .main-content .main-content__content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr auto;
    gap: var(--gap__24);
    max-width: 1060px;
    width: 100%;
  }
  .main-content .main-content__content section {
    margin: 0;
    -ms-flex-item-align: stretch;
        align-self: stretch;
  }
  .main-content .main-content__content section > div {
    height: 100%;
  }
  .main-content .main-content__content .main-content__balance {
    grid-column: 1/span 12;
    grid-row: 1;
    -webkit-margin-after: var(--gap__12);
            margin-block-end: var(--gap__12);
  }
  .main-content .main-content__content .main-content__pots {
    grid-column: 1/span 6;
    grid-row: 2/span 3;
  }
  .main-content .main-content__content .main-content__transactions {
    grid-column: 1/span 6;
    grid-row: 5/span 2;
  }
  .main-content .main-content__content .main-content__chart {
    grid-column: 7/span 6;
    grid-row: 2/span 4;
  }
}
.main-content .main-content__content .main-content__bills {
  grid-column: 7/span 6;
  grid-row: 6;
}

.grid-cols {
  display: grid;
}
@media (min-width: 768px) {
  .grid-cols {
    display: grid;
  }
}

.grid-cols--2 {
  grid-template-columns: 1fr;
  gap: var(--gap__24);
}
@media (min-width: 768px) {
  .grid-cols--2 {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 768px) {
  .chart-section .grid-cols--2 {
    grid-template-columns: 1fr 0.5fr;
  }
}

@media (min-width: 768px) {
  .pots-section .grid-cols--2 {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1070px) {
  .pots-section .grid-cols--2 .total-saved {
    max-width: 247px;
  }
}

.full-height {
  height: 100%;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  justify-self: stretch;
  padding: 0;
  margin: 0;
}

.grid-cols--3 {
  grid-template-columns: 1fr;
  gap: var(--gap__24);
}
@media (min-width: 768px) {
  .grid-cols--3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

ul[class] {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

.section {
  -webkit-margin-after: var(--gap__32);
          margin-block-end: var(--gap__32);
}

.content-box {
  padding: 20px;
  border-radius: var(--rounded);
}
.content-box a {
  padding: 0;
  margin: 0;
}

.content-box--dark {
  background-color: var(--dark-100);
  color: var(--light-400);
}

.content-box__title {
  -webkit-margin-after: var(--gap__12);
          margin-block-end: var(--gap__12);
}

.content-box__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.content-box__header .text {
  -webkit-margin-end: var(--gap__12);
          margin-inline-end: var(--gap__12);
}

.content-box--2cols {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: var(--gap__16);
  padding: var(--gap__16);
}
.content-box--2cols .content-box__title {
  -webkit-margin-after: var(--gap__16);
          margin-block-end: var(--gap__16);
  color: var(--dark-200);
}

.content-box--grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: var(--gap__16);
}

@media (min-width: 768px) {
  .chart-section .content-box--grid {
    grid-template-columns: 1fr;
  }
}

.content-box--line-left {
  position: relative;
  padding: 0;
  -webkit-padding-start: var(--gap__16);
          padding-inline-start: var(--gap__16);
}
.content-box--line-left h5 {
  font-weight: 400;
}
.content-box--line-left::before {
  content: "";
  position: absolute;
  width: 6px;
  inset-block: 0;
  inset-inline-start: 0;
  background-color: currentColor;
  border-radius: 10px;
}

.content-box--line-left--rounded {
  overflow: hidden;
  border-radius: var(--rounded);
  padding: var(--padding);
  -webkit-border-start: 4px solid currentColor;
          border-inline-start: 4px solid currentColor;
}
.content-box--line-left--rounded:not(.content-box--line-left--rounded:last-of-type) {
  -webkit-margin-after: var(--gap__12);
          margin-block-end: var(--gap__12);
}

.content-box__avatar {
  padding-inline: 0;
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: var(--gap__16);
}
.content-box__avatar.out-amount .content-box__amount {
  color: var(--dark-100);
}
.content-box__avatar.in-amount .content-box__amount {
  color: var(--second-green);
}
.content-box__avatar > img {
  grid-column: 1;
  grid-row: 1/span 2;
  display: block;
  align-self: center;
}
.content-box__avatar .avatar__name {
  grid-column: 2/span 2;
  grid-row: 1/span 2;
  align-self: center;
}
.content-box__avatar .content-box__amount {
  grid-column: 4;
  grid-row: 1;
}
.content-box__avatar .content-box__date {
  grid-column: 4;
  grid-row: 2;
  white-space: nowrap;
  text-align: right;
  color: var(--dark-200);
}
.content-box__avatar.content-box__limit:not(:last-of-type)::after {
  content: "";
  position: absolute;
  bottom: 0;
  inset-inline: 0;
  height: 1px;
  background-color: var(--dark-100);
  opacity: 0.2;
}
.content-box__avatar:has(.content-box__category) .avatar__name {
  grid-row: 1;
}
.content-box__avatar:has(.content-box__category) .content-box__category {
  grid-column: 2;
  grid-row: 2;
}

.content-box__chart {
  position: relative;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}
@media (min-width: 768px) {
  .content-box__chart {
    margin-inline: auto;
  }
}

.content-box__innercircle {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 50%;
  mix-blend-mode: soft-light;
  width: 205px;
  aspect-ratio: 1;
}

.content-box__innercircle-daten {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  aspect-ratio: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  border-radius: 50%;
}

@media (min-width: 1070px) {
  .page-title {
    padding-block: var(--gap__16);
    -webkit-margin-after: var(--gap__32);
            margin-block-end: var(--gap__32);
  }
}

.main-header {
  -webkit-padding-before: 0.5em;
          padding-block-start: 0.5em;
  padding-inline: 1em;
}
.main-header .main-header__logo, .main-header .main-header__hamburger {
  display: none;
}
.main-header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.main-header nav ul li.current a {
  background-color: var(--light-400);
  border-block-end-color: var(--second-green);
}
.main-header nav ul li.current a svg path {
  fill: var(--second-green);
}
.main-header nav ul a {
  display: block;
  height: 44px;
  max-width: 66px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: var(--rounded) var(--rounded) 0 0;
  -webkit-border-after: 4px solid transparent;
          border-block-end: 4px solid transparent;
}
.main-header nav ul a .text {
  display: none;
}
@media (min-width: 768px) {
  .main-header nav ul {
    gap: var(--gap__32);
  }
  .main-header nav ul li.current a .text {
    color: var(--dark-100);
  }
  .main-header nav ul li a {
    min-width: 104px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    padding: var(--gap__12) var(--gap__32);
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .main-header nav ul li a .text {
    display: block;
    font-weight: bolder;
    white-space: nowrap;
    color: var(--light-400);
  }
}
@media (min-width: 1070px) {
  .main-header .main-header__logo {
    display: block;
    padding-block: 9.6px;
    -webkit-padding-start: var(--gap__32);
            padding-inline-start: var(--gap__32);
  }
  .main-header nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 0;
  }
  .main-header nav ul li {
    width: 100%;
  }
  .main-header nav ul li a {
    -webkit-border-after: unset;
            border-block-end: unset;
    -webkit-border-start: 4px solid transparent;
            border-inline-start: 4px solid transparent;
    width: 100%;
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    min-width: unset;
    max-width: calc(100% - var(--gap__24));
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-padding-start: var(--gap__32);
            padding-inline-start: var(--gap__32);
    gap: var(--gap__16);
  }
  .main-header nav ul li.current a {
    border-radius: 0 var(--rounded) var(--rounded) 0;
    border-inline-start-color: var(--second-green);
  }
}

a, .btn {
  text-decoration: none;
  color: currentColor;
  padding: var(--gap__24);
}

.main-content__chart {
  container-name: gridchart;
  container-type: inline-size;
}

.main-content__pots {
  container-name: gridPots;
  container-type: inline-size;
}

@container gridchart ( width < 500px ) {
  .chart-section .grid-cols--2 {
    grid-template-columns: 1fr;
  }
  .chart-section .grid-cols--2 .content-box--grid {
    grid-template-columns: 1fr 1fr;
  }
}
@container gridPots ( width < 441px ) {
  .chart-section .grid-cols--2 {
    grid-template-columns: 1fr;
  }
  .chart-section .grid-cols--2 .content-box--grid {
    grid-template-columns: 1fr 1fr;
  }
}
.main-content__header.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: var(--gap__16);
  width: 100%;
}

.filter__search-input input {
  padding: var(--padding);
}

.filter__dropdown {
  position: relative;
  z-index: 0;
}
.filter__dropdown.open {
  z-index: 10;
}
.filter__dropdown button {
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.filter__dropdown button .text {
  color: var(--dark-200);
}
.filter__dropdown button .selectedValue {
  min-width: 150px;
  padding: var(--gap__16) var(--gap__32);
  border-radius: var(--rounded);
  border: 1px solid var(--dark-300);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: var(--gap__16);
}
.filter__dropdown button .icon {
  display: block;
}
.filter__dropdown button .text {
  display: none;
}
.filter__dropdown ul.items__childs {
  border-radius: var(--rounded);
  background-color: var(--light-400);
  position: absolute;
  right: 0;
  left: 0;
  top: 120%;
  opacity: 0;
  -webkit-box-shadow: 2px 3px 10px hsla(0, 0%, 0%, 0.063);
          box-shadow: 2px 3px 10px hsla(0, 0%, 0%, 0.063);
  pointer-events: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.filter__dropdown ul.items__childs.open {
  opacity: 1;
  top: 100%;
  pointer-events: all;
}
.filter__dropdown ul.items__childs li {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  padding: var(--gap__12) var(--gap__40);
  cursor: pointer;
  position: relative;
}
.filter__dropdown ul.items__childs li:hover {
  background-color: var(--light-300);
}
.filter__dropdown ul.items__childs li.current {
  font-weight: 900;
}
.filter__dropdown ul.items__childs li:not(:last-of-type)::after {
  content: "";
  position: absolute;
  bottom: 0;
  inset-inline: 20px;
  height: 2px;
  background-color: var(--light-300);
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.pagination .pagination__page-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: var(--gap__12);
}
.pagination .pagination__page-number li {
  border-radius: var(--rounded);
  border: 1px solid var(--dark-300);
}
.pagination .pagination__page-number li button {
  height: 40px;
  width: 40px;
  display: block;
}
.pagination .pagination__page-number li.current {
  border-color: transparent;
}
.pagination .pagination__page-number li.current button {
  color: var(--light-300);
}
.pagination .pagination__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: var(--gap__12);
  border-radius: var(--rounded);
  border: 1px solid var(--dark-300);
  width: 40px;
  height: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (min-width: 768px) {
  .pagination .pagination__btn {
    width: 95px;
  }
}
.pagination .pagination__btn .text {
  display: none;
}
@media (min-width: 768px) {
  .pagination .pagination__btn .text {
    display: unset;
  }
}

.multipage-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: var(--gap__16);
  overflow-x: scroll;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  scroll-padding: var(--gap__16);
}
.multipage-container .multipage-container__page {
  min-width: 100%;
  scroll-snap-align: start;
}/*# sourceMappingURL=globals.css.map */