@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import "./assets/colors.css";
*, *::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  font-family: var(--public);
}

h1, h2, h3, h4, h5, h6 {
  margin-block: 0.3em;
}

body {
  min-height: 100svh;
}
@media (min-width: 1070px) {
  body {
    display: grid;
    grid-template-columns: 0.6fr 1.4fr;
    grid-template-rows: 1fr;
  }
}

textarea {
  font-family: var(--public);
}

.text__lg {
  font-size: 2em;
  line-height: 120%;
  letter-spacing: 0;
}

.text__md {
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0;
}

.text__sm {
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0;
}

.text__xs {
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0;
}

.text__bold {
  font-weight: bold;
}

.text__normail {
  font-weight: normal;
}

.text__thin {
  font-weight: lighter;
}

.rounded {
  border-radius: var(--rounded);
}

.padding {
  padding: var(--padding);
}

.container {
  max-width: 343px;
  margin-inline: auto;
}
@media (min-width: 768px) {
  .container {
    max-width: 688px;
  }
}
@media (min-width: 1070px) {
  .container {
    max-width: 1060px;
  }
}

ul[class] {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

.content-box {
  padding: 20px;
  border-radius: var(--rounded);
  background-color: var(--light-400);
}
.content-box a {
  padding: 0;
  margin: 0;
}

.content-box--dark {
  background-color: var(--dark-100);
  color: var(--light-400);
}

.content-box__title {
  -webkit-margin-after: var(--gap__12);
          margin-block-end: var(--gap__12);
}

.content-box__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.content-box__header .text {
  -webkit-margin-end: var(--gap__12);
          margin-inline-end: var(--gap__12);
}

.content-box--2cols {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: var(--gap__16);
  padding: var(--gap__16);
}
.content-box--2cols .content-box__title {
  -webkit-margin-after: var(--gap__16);
          margin-block-end: var(--gap__16);
  color: var(--dark-200);
}

.content-box--data {
  position: relative;
  padding: 0;
  -webkit-padding-start: var(--gap__16);
          padding-inline-start: var(--gap__16);
}
.content-box--data::before {
  content: "";
  position: absolute;
  width: 4px;
  inset-block: 0;
  inset-inline-start: 0;
  background-color: currentColor;
}

.main-header {
  -webkit-padding-before: 0.5em;
          padding-block-start: 0.5em;
  padding-inline: 1em;
}
.main-header .main-header__logo, .main-header .main-header__hamburger {
  display: none;
}
.main-header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.main-header nav ul li.current a {
  background-color: var(--light-400);
  border-block-end-color: var(--second-green);
}
.main-header nav ul li.current a svg path {
  fill: var(--second-green);
}
.main-header nav ul a {
  display: block;
  height: 44px;
  max-width: 66px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: var(--rounded) var(--rounded) 0 0;
  -webkit-border-after: 4px solid transparent;
          border-block-end: 4px solid transparent;
}
.main-header nav ul a .text {
  display: none;
}

a, .btn {
  text-decoration: none;
  color: currentColor;
  padding: var(--gap__24);
}/*# sourceMappingURL=globals.css.map */