@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import './assets/mixin.scss';
@import "./assets/colors.css";

*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    font-family: var(--public);
}
h1,h2,h3,h4,h5,h6{
    margin-block: 0.3em;
}
body{
    min-height: 100svh;
    @include lg{
        display:grid;
        grid-template-columns:0.6fr 1.4fr;
        grid-template-rows:1fr;
    }
}
textarea{
    font-family:var(--public);
}
.text__lg{
    font-size: 2em;
    line-height: 120%;
    letter-spacing: 0;
}

.text__md{
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0;
}

.text__sm{
   font-size: 14px;
   line-height: 150%;
   letter-spacing: 0;  
}
.text__xs{
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0;
}
.text__bold{
    font-weight: bold;
}
.rounded{
    border-radius: var(--rounded);
}
.padding{
    padding: var(--padding);
}
.container{
    max-width: 343px;
    margin-inline: auto;
    @include md{
        max-width: 688px;
    }
    @include lg{
        max-width: 1060px;
    }
}
ul[class]{
    list-style:none;
    margin: 0;
    padding: 0;
}
button{
    border: none;
    background:transparent;
    cursor:pointer;
}
.content-box{
    padding: 20px;
    border-radius: var(--rounded);
    background-color: var(--light-500);
    .content-box__title{
        margin-block-end: var(--gap__12);
    }
}
.main-header{
    padding-block-start: 0.5em;
    padding-inline: 1em;
    .main-header__logo, .main-header__hamburger{
        display: none;
    }
    nav{
        ul{
            display:flex;
            align-items:center;
            justify-content: center;
            li{
                &.current{
                    a{
                        background-color: var(--dark-400);
                        border-block-end-color: var(--second-green);
                        svg{
                            path{
                                fill:var(--second-green);
                            }
                        }
                    }
                }
            }
            a{
                display: block;
                height: 44px;
                max-width: 66px;
                display:flex;
                align-items: center;
                justify-content:center;
                border-radius:var(--rounded) var(--rounded) 0 0;
                border-block-end: 4px solid transparent;
                .text{
                    display: none;
                }
            }
        }
    }
}
a,.btn{
    text-decoration: none;
    color: currentColor;
    padding:var(--gap__24);
}

